:root {
    --background-color: rgb(58, 27, 35);
    --text-color: rgb(153, 127, 43);
    --shadow-color: rgba(0, 0, 0, 0.1);
    --range-track-color: rgb(153, 127, 43);
    --range-thumb-color: rgb(58, 27, 35);
}

body {
    font-family: Arial, sans-serif;
    font-size:x-large;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: var(--background-color);
    box-shadow: 0 0 1rem var(--shadow-color);
    padding: 2rem;
    width: 320px;
    text-align: center;
}

.header {
    display: block;
    margin-bottom: 1rem;
}

.navbar {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.logo {
    width: 330px;
}

.history-icon, .settings-icon, .home-icon{
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-left: 1rem;
}

.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    background-color: var(--text-color);
    color: var(--background-color);
    border: 2px solid var(--text-color);
    padding: 1rem 2rem;
    cursor: pointer;
    border-radius: 1rem;
    font-size: 1.1rem;
    font-weight: 900;
}

.btn:hover {
    border: 2px solid var(--text-color);
    background-color: var(--background-color);
    color: var(--text-color);
}

.input-group {
    margin-bottom: 15px;
    width: 100%;
}

.label {
    display: block;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: left;
    color: var(--text-color);
    font-weight: 900;
}

.input-field {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    background-color: var(--text-color);
    box-shadow: 0 0 1rem var(--shadow-color);
    border-color: var(--text-color);
    color: var(--background-color);
    font-weight: 600;
}

.input-field:focus {
    outline: none;
    border-color: var(--background-color);
}

/*webkit browsers (Chrome, Safari)*/
.input-field::-webkit-input-placeholder { 
    color: var(--background-color);
}

/*Firefox*/
.input-field::-moz-placeholder { 
    color: var(--background-color);
}

/*Explorer*/
.input-field:-ms-input-placeholder { 
    color: var(--background-color);
}

.password-content {
    display: flex;
    align-items: center;
}

.password-contet .input-field {
    flex: 1;  
}

.copy-icon, .save-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-left: 1rem;
}

.copy-message, .save-message {
    color: var(--background-color);
    background-color: var(--text-color);
    margin-top: 1rem;
    border-radius: 1rem;
    font-size: large;
}

.range-container,
.alphanumeric-range-container, 
.numeric-range-container, 
.special-range-container,
.separator-checkbox-container,
.separator-interval-container, 
.password-count-container {
    display: flex;
    align-items: center;
}

input[type="number"] {
    margin-left: 0.5rem;
    width: 2rem;
    text-align: center;
    font-weight: 600;
    color: var(--text-color);
    border: 2px solid var(--text-color);
    border-radius: 1rem;
    background-color: var(--background-color);
}

input[type="number"]:focus {
    width: 3rem;
    border-color: var(--text-color);
    box-shadow: 0 0 5px var(--focus-color);
    outline: none;
}

input[type="range"] {
    width: 100%;
    -webkit-appearance: none; 
    appearance: none; 
    height: 1rem;
    background: var(--range-track-color);
    border-radius: 1rem;
    cursor: pointer;
}

/*webkit browsers (Chrome, Safari)*/
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none; 
    width: 1.2rem;
    height: 1.5rem;
    border-radius: 1rem;
    border: 2px solid var(--text-color);
    background: var(--range-thumb-color);
    cursor: pointer;
    box-shadow: 0 0 1rem var(--shadow-color);
}

/*Firefox*/
input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none; 
    appearance: none; 
    width: 1.2rem;
    height: 1.5rem;
    border-radius: 1rem;
    border: 2px solid var(--text-color);
    background: var(--range-thumb-color);
    cursor: pointer;
    box-shadow: 0 0 1rem var(--shadow-color);
}

/*Explorer*/
input[type="range"]::-ms-thumb {
    -webkit-appearance: none; 
    appearance: none; 
    width: 1.2rem;
    height: 1.5rem;
    border-radius: 1rem;
    border: 2px solid var(--text-color);
    background: var(--range-thumb-color);
    cursor: pointer;
    box-shadow: 0 0 1rem var(--shadow-color);
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    margin-left: 1rem;
    width: 1.2rem;
    height: 1.2rem;
    border: 2px solid var(--text-color);
    border-radius: 0.3rem;
    background-color: var(--background-color);
    cursor: pointer;
    box-shadow: 0 0 1rem var(--shadow-color);
}

input[type="checkbox"]:checked {
    background-color: var(--text-color);
}

input[type="checkbox"]:focus {
    outline: none;
    box-shadow: 0 0 5px var(--text-color);
}