:root {
    --background-color: rgb(58, 27, 35);
    --text-color: rgb(153, 127, 43);
    --shadow-color: rgba(0, 0, 0, 0.1);
    --track-color: rgb(153, 127, 43);
    --thumb-color: rgb(58, 27, 35);
}

body {
    font-family: Arial, sans-serif;
    font-size: x-large;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: var(--background-color);
    box-shadow: 0 0 1rem var(--shadow-color);
    padding: 2rem;
    width: 340px;
    text-align: center;
}

.header {
    display: block;
    margin-bottom: 1rem;
}

.navbar {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.logo {
    width: 330px;
}

.history-icon,
.settings-icon,
.home-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-left: 1rem;
}

.home-page,
.settings-page,
.history-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.passwords-list {
    border: 2px solid var(--text-color);
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    max-height: 300px;
    overflow-y: auto;
    color: var(--text-color);
    font-weight: 900;
}

.password-history-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
    border: 2px solid var(--text-color);
}

.password-history-icons {
    margin-top: 0.5rem;
}

span {
    font-size: 60%;
    display: block;
    color: var(--text-color);
    font-weight: 900;
    margin-right: 0.5rem;
}

.btn {
    background-color: var(--text-color);
    color: var(--background-color);
    border: 2px solid var(--text-color);
    padding: 1rem 2rem;
    cursor: pointer;
    border-radius: 1rem;
    font-size: 1.1rem;
    font-weight: 900;
}

.btn:hover {
    border: 2px solid var(--text-color);
    background-color: var(--background-color);
    box-shadow: 0 0 5px var(--text-color);
    color: var(--text-color);
}

.input-group {
    margin-bottom: 15px;
    width: 100%;
}

.label {
    display: block;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: left;
    color: var(--text-color);
    font-weight: 900;
}

#settings-page .label {
    font-size: 85%;
}

.input-field {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    background-color: var(--text-color);
    box-shadow: 0 0 1rem var(--shadow-color);
    border-color: var(--text-color);
    color: var(--background-color);
    font-weight: 600;
}

.input-field:focus {
    outline: none;
    border-color: var(--text-color);
    box-shadow: 0 0 5px var(--text-color)
}

/*webkit browsers (Chrome, Safari)*/
.input-field::-webkit-input-placeholder {
    color: var(--background-color);
}

/*Firefox*/
.input-field::-moz-placeholder {
    color: var(--background-color);
}

/*Explorer*/
.input-field:-ms-input-placeholder {
    color: var(--background-color);
}

.password-contet {
    display: block;
}

.password-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.password-contet .input-field {
    flex: 1;
}

.copy-icon,
.save-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-left: 1rem;
}

.delete-icon,
.copy-icon-history {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.copy-icon-history {
    margin-right: 0.5rem;
}

.copy-message,
.save-message,
.generate-message {
    color: var(--background-color);
    background-color: var(--text-color);
    margin-top: 1rem;
    border-radius: 1rem;
    font-size: large;
}

.range-container,
.min-alphanumeric-range-container,
.max-alphanumeric-range-container,
.min-numeric-range-container,
.max-numeric-range-container,
.min-special-range-container,
.max-special-range-container {
    display: flex;
}

.min-alphanumeric-range-container,
.min-numeric-range-container,
.min-special-range-container {
    margin-bottom: 1rem;
}

.separator-checkbox-container,
.separator-interval-container,
.password-count-container {
    display: flex;
    align-items: center;
    justify-content: space-between
}

input[type="number"] {
    margin-left: 0.5rem;
    width: 3rem;
    text-align: center;
    font-weight: 600;
    color: var(--text-color);
    border: 2px solid var(--text-color);
    border-radius: 1rem;
    background-color: var(--background-color);
}

input[type="number"]:focus {
    width: 3rem;
    border-color: var(--text-color);
    box-shadow: 0 0 5px var(--text-color);
    outline: none;
}

input[type="range"] {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    height: 1rem;
    background: var(--track-color);
    border-radius: 1rem;
    cursor: pointer;
}

/*webkit browsers (Chrome, Safari)*/
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.2rem;
    height: 1.5rem;
    border-radius: 1rem;
    border: 2px solid var(--text-color);
    background: var(--thumb-color);
    cursor: pointer;
    box-shadow: 0 0 1rem var(--shadow-color);
}

/*Firefox*/
input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.2rem;
    height: 1.5rem;
    border-radius: 1rem;
    border: 2px solid var(--text-color);
    background: var(--thumb-color);
    cursor: pointer;
    box-shadow: 0 0 1rem var(--shadow-color);
}

/*Explorer*/
input[type="range"]::-ms-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.2rem;
    height: 1.5rem;
    border-radius: 1rem;
    border: 2px solid var(--text-color);
    background: var(--thumb-color);
    cursor: pointer;
    box-shadow: 0 0 1rem var(--shadow-color);
}

select {
    -webkit-appearance: none;
    appearance: none;
    color: var(--text-color);
    text-align: center;
    margin-left: 1rem;
    width: 10rem;
    height: 2.4rem;
    border: 2px solid var(--text-color);
    border-radius: 0.3rem;
    background-color: var(--background-color);
    cursor: pointer;
    box-shadow: 0 0 1rem var(--shadow-color);
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 900;
}

select:focus {
    outline: none;
    box-shadow: 0 0 5px var(--text-color);
}

select option {
    font-size: 1.2rem;
    font-weight: 900;
}

::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

::-webkit-scrollbar-track {
    background-color: var(--thumb-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
    border-radius: 1rem;
}